@use "../../../foundation/variable" as var;
@use "../../../foundation/mixin" as mixin;

.kofuku-bbs{
    .p-container{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 80px 0;
        @include mixin.mq(tab){
            width: 90%;
        }
        &__head{
            margin-bottom: 150px;
            @include mixin.mq(sp){
                margin-bottom: 100px;
            }
        }
    }
}