@use "../../../foundation/variable" as var;
@use "../../../foundation/mixin" as mixin;

.kofuku-bbs{
    .p-head{
        &__title {
            font-size: 24px;
            text-align: center;
            @include mixin.mq(sp){
                font-size: 20px;
            }
        }
        &__description{
            padding: 80px 0;
        }
        &__description-line{
            margin: 1em 0;
            &:first-of-type{
                margin-top: 0;
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
        &__signature{
            margin-top: 1em;
            text-align: right;
        }
        &__image-wrap{
            // display: flex;
            // gap: 30px;
        }
        &__image{
            // flex-grow: 1;
            max-width: 400px;
            margin: 0 auto;
        }
        &__caption{
            font-size: 12px;
            margin-top: 5px;
            text-align: right;
        }
        &__form{
            width: fit-content;
            margin: 0 auto;
            margin-top: 50px;
            @include mixin.mq(tab){
                width: 100%;
                max-width: 500px;
            }
        }
        &__remarks{
            text-align: right;
            margin-top: 50px;
        }
    }
}