@use "../foundation/mixin" as mix;
@use "../foundation/variable" as var;
@use "../foundation/breakpoint" as br;

.renewal {
.l-footer {
    position: fixed;
    bottom: 0;
    width: 100vw;    
    &__form-container {
        position: relative;
        width: fit-content;
        margin: 0 auto;
        @include br.mq(sp) {
            width: 80%;
        }
    }
    &__close-button {
        @include mix.close_button;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(calc(-100% - 10px));
    }
    &__form {
        display: flex;
        justify-content: center;
        gap: 50px;
        .wpcf7-spinner {
            display: block;
        }
        &.invalid .wpcf7-response-output {
            display: none;
        }
        &.sent p {
            display: none;
        }
        @include br.mq(sp) {
            display: block;
        }
    }
    &__input {
        width: 480px;
        height: 40px;
        font-size: var.$font_size_ll;
        padding-left: 20px;
        border: 1px solid var.$gray;
        border-radius: 0.5em;
        background-color: var.$white;
        @include br.mq(tab) {
            width: 300px;
        }
        @include br.mq(sp) {
            width: 100%;
            font-size: var.$font_size_l;
        }
    }
    &__submit {
        width: 120px;
        height: 40px;
        padding: 0 10px;
        background-color: var.$black;
        border-radius: 0.5em;
        color: var.$white;
        font-size: var.$font_size_m;
        font-family: "gtwalsheim";
        text-align: center;        
        @include br.mq(tab) {
            width: 100px;
        }
        @include br.mq(sp) {        
            width: 25%;
            margin-top: 15px;
        }
    }
}
}