@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.renewal {
.c-heading-black-background {
    width: fit-content;
    line-height: 1;
    padding: 5px;
    background-color: var.$black;
    color: var.$gray;
    font-weight: 600;
    margin-bottom: 1em;
}
}