@use "../../../foundation/variable" as var;
@use "../../../foundation/mixin" as mixin;

.kofuku{
    .p-symposium{
        border: 1px solid;
        border-radius: 10px;
        padding: 30px 50px;
        background-color: white;
        @include mixin.mq(sp){
            padding: 30px 20px;
        }
        &__title{
            margin-top: 0;
        }
        &__date-title{
            margin-bottom: 0;
        }
        &__date-detail{
            margin: 0;
        }
        &__description {
            margin-bottom: 50px;
        }
        &__item {
            margin-bottom: 50px;
        }
        &__guest-list {
            padding: 0;
            margin: 1.5em 0;
        }
        &__guest-item {
            list-style: none;
            position: relative;
        }
        &__guest-item:first-of-type {
            font-weight: 600;
        }
        &__guest-name {
            width: fit-content;
            margin-bottom: 5px;
        }
        &__guest-profile {
            opacity: 0;
            display: none;
            position: absolute;
            left: 0;
            margin-top: 10px;
            padding: 40px 50px;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 1em;
            @include mixin.mq(sp){
                padding: 40px 30px;
            }
        }
        &__close-btn{
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 15px;
            right: 20px;
            cursor: pointer;
        }
        &__close-btn::before, &__close-btn::after{
            content: "";
            display: block;
            width: 100%;/*バツ線の長さ*/
            height: 2px;/*バツ線の太さ*/
            background: #000;
            transform: rotate(45deg);
            transform-origin:0% 50%;
            position: absolute;
            top: calc(14% - 5px);
            left: 14%;
        }
        &__close-btn::after{
            transform: rotate(-45deg);
            transform-origin:100% 50%;
            left: auto;
            right: 14%;
        }
        &__guest-profile-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include mixin.mq(sp){
                display: block;
            }
        }
        &__guest-image {
            width: 25%;
            @include mixin.mq(sp){
                width: 100%;
            }
            img{
                width: 100%;
                height: auto;
                display: block;
            }
            figcaption{
                font-size: 12px;
            }
        }
        &__guest-text {
            width: 70%;
            @include mixin.mq(sp){
                width: 100%;
            }
            p {
                margin-bottom: 1em;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        &__price {
            margin-bottom: 1em;
        }
    }
}