@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.p-24kasou-kansou {
    &__subheading {
        font-size: var.$font_size_m;
    }
    &__heading {
        font-weight: 600;
        margin-bottom: 1em;
    }
    &__section {
        @include mix.margin_between(1em);
    }
    &__section-heading {
        &::before {
            content: "◆";
        }
    }
    &__text {
        @include mix.margin_between(1em);
    }
    &__list-item {
        list-style-type: disc;
        list-style-position: inside;
        &:last-of-type {
            list-style: none;
        }
    }
}