@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.p-24kasou-child-info {
    &__heading {
        font-size: var.$font_size_lll;
        margin-bottom: 20px;
        @include br.mq(tab) {
            font-size: var.$font_size_ll;
        }
    }
    &__image {
        margin-bottom: 10px;
    }
    &__subtitle {
        font-size: var.$font_size_m;
        @include br.mq(tab) {
            font-size: var.$font_size_s;
        }
    }
    &__title {
        font-size: var.$font_size_ll;
        @include br.mq(tab) {
            font-size: var.$font_size_l;
        }
    }
    &__content {
        margin-top: 30px;
    }
    &__section {
        @include mix.margin_between(1em);
    }
    &__section-heading {
        width: fit-content;
        padding: 5px;
        line-height: 1;
        background-color: var.$black;
        color: var.$color_main;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    &__text {
        @include mix.margin_between(1em);
    }
    &__list {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0 1em;
    }
}