@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.p-24kasou-description {
    &__heading {
        font-size: var.$font_size_ll;
        font-weight: 600;
        margin-bottom: 0.5em;
        @include br.mq(sp) {
            font-size: var.$font_size_l;
        }
    }
    &__genre-item {
        @include mix.margin_between(1em);
    }
    &__genre-heading {
        font-weight: 600;
    }
    &__article-item {
        @include mix.margin_between(0.5em);
        list-style-type: disc;
        list-style-position: inside;
    }
}