@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.p-26tamashii-club {
    &__image {
        width: 75%;
        margin: 0 auto;
    }
    &__button {
        display: block;
        width: fit-content;
        margin: 2rem auto 0;
    }
    &__logo {
        width: 12rem;
        margin-top: 1rem;
        margin-left: auto;
        @include br.mq(sp) {
            width: 10rem;
        }
        img {
            width: 100%;
            margin: 0;
        }
    }
}