@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.p-26tamashii {
  &__toc-title {
    @include mix.h3;
    margin-top: 0;
  }
  &__toc-item {
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: .5em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}