@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.p-26tamashii-card {
    display: flex;
    gap: 2rem;
    align-items: start;
    @include br.mq(sp) {
        display: block;
    }
    &__left {
        width: 50%;
        flex-shrink: 0;
        @include br.mq(sp) {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    &__title {
        font-size: var.$font_size_l;
        margin-bottom: 1rem !important;
    }
    &__image {
        img {
            margin: 0;
        }
    }
    &__info {
        font-size: var.$font_size_m;
    }
    &__info-term {
        margin-bottom: .5rem;
    }
    &__info-description {
        margin-bottom: 1rem;
    }
    &__button {
        font-size: var.$font_size_m;
        @include br.mq(sp) {
            display: block;
            width: fit-content;
            margin: 0 auto;
        }
    }
}