@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.p-password-form {
    margin: 0 auto;
    &__text {
        margin-bottom: 1em;
    }
    &__form {
        text-align: center;
    }
    &__input {
        border: var.$black 1px solid;
        background-color: var.$white;
        padding: 5px;
    }
    &__submit {
        border: var.$black 1px solid;
        background-color: var.$white;
        text-align: center;
        padding: 5px;
    }
}