@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.renewal {
    .p-top-next-section {
        background-color: var.$white;
        padding-bottom: 200px;
        @include br.mq(tab) {
            padding-bottom: 58px;
        }
        &__heading {
            height: 40px;            
            line-height: 40px;
            border-bottom: var.$black 1px solid;
            font-family: "gtwalsheim";
            font-weight: 300;
            font-size: var.$font_size_l;
            text-align: center;
        }
        &__main-visual {
            padding: 60px 2.5%;
            @include br.mq(laptop) {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        &__title-container {
            border-top: var.$black 1px solid;
            border-bottom: var.$black 1px solid;
            padding: 10px 2.5%;
            text-align: center;
        }
        &__title {
            font-size: var.$font_size_ll;
            font-weight: 700;
            text-align: center;
        }
        &__subtitle {
            margin-top: 0.5em;
            font-size: var.$font_size_l;            
            font-family: 'gtwalsheim';
        }
        &__description-container {
            padding: 20px 2.5%;
        }
        &__description-section {
            @include mix.margin_1em;
        }
        &__description-heading {
            width: fit-content;
            line-height: 1;
            padding: 5px;
            background-color: var.$black;
            color: var.$gray;
            font-weight: 600;
            margin-bottom: 1em;
        }
        &__venue-name {
            margin-bottom: 1em;
        }
        &__people-list {
            display: flex;
            gap: 20px;
        }
        &__button {
            display: block;
            padding: 10px 0;
            border-top: var.$black 1px solid;
            border-bottom: var.$black 1px solid;
            font-size: var.$font_size_l;
            text-align: center;
            text-decoration: none;
            &:hover {
                background-color: var.$yellow;
            }
        }
    }
}