@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.renewal {
    .p-top-main-section {
        padding-bottom: 200px;
        @include br.mq(tab) {
            padding-bottom: 58px;
        }
        &__copy-container {
            padding: 50px 0;
            overflow: hidden;
        }
        &__copy {
            font-weight: bold;
            font-size: var.$font_size_l;
        }
        &__main-visual-container {
            padding-bottom: 1em;
        }
        &__main-visual {
            figcaption {
                width: fit-content;
                margin: 1em 2em 0 auto;
            }
        }
        &__section-heading {
            padding: 20px 0;
            border-top: var.$black 1px solid;
            border-bottom: var.$black 1px solid;
            font-size: var.$font_size_l;
            font-weight: bold;
            text-align: center;
        }
        &__section-content {
            padding: 20px;
            font-weight: 700;
        }
        &__about-content {
            @include mix.textarea;
        }
        &__members-content {
            font-weight: 400;
        }
        &__members-column-wrapper {
            padding-top: 60px;
            display: flex;
            justify-content: space-around;
            @include br.mq(laptop) {
                display: block;
            }
        }
        &__members-column {
            width: 33.33%;
            @include br.mq(laptop) {
                width: 100%;
                margin: 0 auto;
                &:first-of-type {
                    margin-bottom: 80px;
                }
            }
        }
        &__member-container {
            position: relative;
            margin-bottom: 80px;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &__member-image-container {
            cursor: pointer;
            .p-top-main-section__member-image--on {
                display: none;
            }
            &:hover {
                .p-top-main-section__member-image {
                    &--on {
                        display: block;
                    }
                    &--off {
                        display: none;
                    }
                }
            }
        }
        &__member-heading {
            margin: 1em 0;
            font-size: var.$font-size_l;
            text-align: center;
        }
        &__member-description {
            @include mix.textarea;
            position: absolute;
            opacity: 0;
        }
        &__members-image-credit {
            margin-top: 150px;
            font-family: "gtwalsheim-l";
            font-size: var.$font-size_l;
            text-align: center;
        }
        
    }
}