@use "../../foundation/mixin" as mix;
@use "../../foundation/variable" as var;
@use "../../foundation/breakpoint" as br;
.renewal {
    .p-works-main-visual { 
        &__main-visual {
            width: 95%;
            max-width: 540px;
            margin: 0 auto 30px;
        }
        &__title-container {
            border-top: var.$black 1px solid;
            border-bottom: var.$black 1px solid;
            padding: calc(var.$font_size_lll / 2) 0;
            text-align: center;
        }
        &__title {
            font-size: var.$font_size_lll;
            font-weight: 600;
            @include br.mq(sp) {
                font-size: var.$font_size_ll;
            }
        }
        &__subtitle{
            font-size: var.$font_size_l;
        }
        &__info-wrapper {
            font-size: var.$font_size_l;
            padding: 1em 0;
            border-bottom: var.$black 1px solid;
        }
        &__info-container{
            margin: 1em auto;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        &__info-heading {
            @include mix.heading_black_background;
            margin-bottom: 1em;
        }
    }
}