@use "foundation/global" as *;
.c-button {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid;
    border-radius: 9999px;
    line-height: 1;
    transition: .2s;
    &[href] {
        text-decoration: none;
        &:hover {
            background-color: $font_color;
            color: #ffffff;
            border-color: $font_color;
        }
    }
    &.is-on {
        background-color: $font_color;
        color: #ffffff;
        border-color: $font_color;
    }
}