@use "foundation/global" as *;
.c-close-button {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% * 1.414);
        height: 2px;
        background: #000000;
    }
    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}