@use "foundation/global" as *;
.c-content {
    h2 {
        font-size: $font_size_xl;
        font-weight: 700;
        margin-top: 1.5em;
        margin-bottom: 1em;
        padding-left: 0.6em;
        border-left: 4px solid #000000;
        @include mq(md) {
            font-size: $font_size_lg;
        }
        &+ * {
            margin-top: 0!important;
        }
        &:first-child {
            margin-top: 0!important;
        }
    }
    h3 {
        font-size: $font_size_lg;
        font-weight: 500;
        margin-top: 1em;
        margin-bottom: 0.5em;
        @include mq(md) {
            font-size: $font_size_base;
        }
        &+ * {
            margin-top: 0!important;
        }
        &:first-child {
            margin-top: 0!important;
        }
    }
    p {
        margin: 1em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.has-small-font-size {
            font-size: $font_size_base!important;
            @include mq(md) {
                font-size: $font_size_sm!important;
            }
        }
    }
    .wp-block-image {
        margin: 2em 0;
        img {
            width: auto;
            max-width: 100%;
        }
    }
    blockquote {
        margin-block-start: 2em;
        margin-block-end: 2em;
        margin-inline-start: 2rem;
        margin-inline-end: 2rem;
        @include mq(sm) {
            margin-inline-start: 1rem;
            margin-inline-end: 1rem;
        }
        p {
            margin-bottom: 0.5em;
        }
        cite {
            font-size: $font_size_base;
            text-align: right;
            @include mq(md) {
                font-size: $font_size_sm;
            }
        }
    }
    ul {
        li {
            list-style: disc;
            list-style-position: inside;
        }
    }
    ol {
        li {
            list-style: decimal;
            list-style-position: inside;
        }
    }
}