@use "foundation/global" as *;
.c-floating-button {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: $black;
    color: $color_main;
    text-decoration: none;
}