@use "foundation/global" as *;
.c-lightbox {
    position: fixed;
    inset: 0;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
    &.is-open {
        visibility: visible;
        opacity: 1;
    }
    &__overlay {
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
    &__image {
        position: relative;
        display: block;
        width: auto;
        max-width: 90vw;
        max-height: 90vh;
        margin: 5vh auto 0;
        object-fit: contain;
    }
    &__close-button {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        &.c-close-button::before,
        &.c-close-button::after {
            background: #ffffff;
        }
    }
}
