@charset "UTF-8";
/*=== breakpoint ===*/
.kofuku .p-symposium {
  border: 1px solid;
  border-radius: 10px;
  padding: 30px 50px;
  background-color: white;
}
@media screen and (max-width: 600px) {
  .kofuku .p-symposium {
    padding: 30px 20px;
  }
}
.kofuku .p-symposium__title {
  margin-top: 0;
}
.kofuku .p-symposium__date-title {
  margin-bottom: 0;
}
.kofuku .p-symposium__date-detail {
  margin: 0;
}
.kofuku .p-symposium__description {
  margin-bottom: 50px;
}
.kofuku .p-symposium__item {
  margin-bottom: 50px;
}
.kofuku .p-symposium__guest-list {
  padding: 0;
  margin: 1.5em 0;
}
.kofuku .p-symposium__guest-item {
  list-style: none;
  position: relative;
}
.kofuku .p-symposium__guest-item:first-of-type {
  font-weight: 600;
}
.kofuku .p-symposium__guest-name {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
}
.kofuku .p-symposium__guest-profile {
  opacity: 0;
  display: none;
  position: absolute;
  left: 0;
  margin-top: 10px;
  padding: 40px 50px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 1em;
}
@media screen and (max-width: 600px) {
  .kofuku .p-symposium__guest-profile {
    padding: 40px 30px;
  }
}
.kofuku .p-symposium__close-btn {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.kofuku .p-symposium__close-btn::before, .kofuku .p-symposium__close-btn::after {
  content: "";
  display: block;
  width: 100%; /*バツ線の長さ*/
  height: 2px; /*バツ線の太さ*/
  background: #000;
  transform: rotate(45deg);
  transform-origin: 0% 50%;
  position: absolute;
  top: calc(14% - 5px);
  left: 14%;
}
.kofuku .p-symposium__close-btn::after {
  transform: rotate(-45deg);
  transform-origin: 100% 50%;
  left: auto;
  right: 14%;
}
.kofuku .p-symposium__guest-profile-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .kofuku .p-symposium__guest-profile-inner {
    display: block;
  }
}
.kofuku .p-symposium__guest-image {
  width: 25%;
}
@media screen and (max-width: 600px) {
  .kofuku .p-symposium__guest-image {
    width: 100%;
  }
}
.kofuku .p-symposium__guest-image img {
  width: 100%;
  height: auto;
  display: block;
}
.kofuku .p-symposium__guest-image figcaption {
  font-size: 12px;
}
.kofuku .p-symposium__guest-text {
  width: 70%;
}
@media screen and (max-width: 600px) {
  .kofuku .p-symposium__guest-text {
    width: 100%;
  }
}
.kofuku .p-symposium__guest-text p {
  margin-bottom: 1em;
}
.kofuku .p-symposium__guest-text p:last-of-type {
  margin-bottom: 0;
}
.kofuku .p-symposium__price {
  margin-bottom: 1em;
}

.kofuku .next-visual--sp {
  display: none;
}
@media screen and (max-width: 600px) {
  .kofuku .next-visual {
    display: none;
  }
  .kofuku .next-visual--sp {
    display: block;
  }
}

.kofuku-bbs {
  /*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
  /* Reset box-model and set borders */
  /* ============================================ */
  /* Document */
  /* ============================================ */
  /**
   * 1. Correct the line height in all browsers.
   * 2. Prevent adjustments of font size after orientation changes in iOS.
   * 3. Remove gray overlay on links for iOS.
   */
  /* Sections */
  /* ============================================ */
  /**
   * Remove the margin in all browsers.
   */
  /**
   * Render the `main` element consistently in IE.
   */
  /* Vertical rhythm */
  /* ============================================ */
  /* Headings */
  /* ============================================ */
  /* Lists (enumeration) */
  /* ============================================ */
  /* Lists (definition) */
  /* ============================================ */
  /* Grouping content */
  /* ============================================ */
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  /* Text-level semantics */
  /* ============================================ */
  /**
   * Remove the gray background on active links in IE 10.
   */
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  /**
   * Add the correct font size in all browsers.
   */
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  /* Replaced content */
  /* ============================================ */
  /**
   * Prevent vertical alignment issues.
   */
  /* Forms */
  /* ============================================ */
  /**
   * Reset form fields to make them styleable.
   * 1. Make form elements stylable across systems iOS especially.
   * 2. Inherit text-transform from parent.
   */
  /**
   * Correct cursors for clickable elements.
   */
  /**
   * Improve outlines for Firefox and unify style with input elements & buttons.
   */
  /**
   * Remove padding
   */
  /**
   * Reset to invisible
   */
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  /**
   * Correct the outline style in Safari.
   */
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  /**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Fix font inheritance.
   */
  /**
   * Fix appearance for Firefox
   */
  /**
   * Clickable labels
   */
  /* Interactive */
  /* ============================================ */
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  /*
   * Add the correct display in all browsers.
   */
  /*
   * Remove outline for editable content.
   */
  /* Tables */
  /* ============================================ */
  /**
  1. Correct table border color inheritance in all Chrome and Safari.
  */
}
.kofuku-bbs *,
.kofuku-bbs ::before,
.kofuku-bbs ::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}
.kofuku-bbs html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}
.kofuku-bbs body {
  margin: 0;
}
.kofuku-bbs main {
  display: block;
}
.kofuku-bbs p,
.kofuku-bbs table,
.kofuku-bbs blockquote,
.kofuku-bbs address,
.kofuku-bbs pre,
.kofuku-bbs iframe,
.kofuku-bbs form,
.kofuku-bbs figure,
.kofuku-bbs dl {
  margin: 0;
}
.kofuku-bbs h1,
.kofuku-bbs h2,
.kofuku-bbs h3,
.kofuku-bbs h4,
.kofuku-bbs h5,
.kofuku-bbs h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}
.kofuku-bbs ul,
.kofuku-bbs ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.kofuku-bbs dt {
  font-weight: 600;
}
.kofuku-bbs dd {
  margin-left: 0;
}
.kofuku-bbs hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}
.kofuku-bbs pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}
.kofuku-bbs address {
  font-style: inherit;
}
.kofuku-bbs a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
.kofuku-bbs abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
.kofuku-bbs b,
.kofuku-bbs strong {
  font-weight: bolder;
}
.kofuku-bbs code,
.kofuku-bbs kbd,
.kofuku-bbs samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}
.kofuku-bbs small {
  font-size: 80%;
}
.kofuku-bbs sub,
.kofuku-bbs sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.kofuku-bbs sub {
  bottom: -0.25em;
}
.kofuku-bbs sup {
  top: -0.5em;
}
.kofuku-bbs svg,
.kofuku-bbs img,
.kofuku-bbs embed,
.kofuku-bbs object,
.kofuku-bbs iframe {
  vertical-align: bottom;
}
.kofuku-bbs button,
.kofuku-bbs input,
.kofuku-bbs optgroup,
.kofuku-bbs select,
.kofuku-bbs textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}
.kofuku-bbs button,
.kofuku-bbs [type=button],
.kofuku-bbs [type=reset],
.kofuku-bbs [type=submit] {
  cursor: pointer;
}
.kofuku-bbs button:disabled,
.kofuku-bbs [type=button]:disabled,
.kofuku-bbs [type=reset]:disabled,
.kofuku-bbs [type=submit]:disabled {
  cursor: default;
}
.kofuku-bbs :-moz-focusring {
  outline: auto;
}
.kofuku-bbs select:disabled {
  opacity: inherit;
}
.kofuku-bbs option {
  padding: 0;
}
.kofuku-bbs fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}
.kofuku-bbs legend {
  padding: 0;
}
.kofuku-bbs progress {
  vertical-align: baseline;
}
.kofuku-bbs textarea {
  overflow: auto;
}
.kofuku-bbs [type=number]::-webkit-inner-spin-button,
.kofuku-bbs [type=number]::-webkit-outer-spin-button {
  height: auto;
}
.kofuku-bbs [type=search] {
  outline-offset: -2px; /* 1 */
}
.kofuku-bbs [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.kofuku-bbs ::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
.kofuku-bbs [type=number] {
  -moz-appearance: textfield;
}
.kofuku-bbs label[for] {
  cursor: pointer;
}
.kofuku-bbs details {
  display: block;
}
.kofuku-bbs summary {
  display: list-item;
}
.kofuku-bbs [contenteditable]:focus {
  outline: auto;
}
.kofuku-bbs table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}
.kofuku-bbs caption {
  text-align: left;
}
.kofuku-bbs td,
.kofuku-bbs th {
  vertical-align: top;
  padding: 0;
}
.kofuku-bbs th {
  text-align: left;
  font-weight: 600;
}

.kofuku-bbs.p-main {
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-family: "ＭＳ ゴシック", "MS Gothic", sans-serif;
  font-weight: 400;
}
.kofuku-bbs.p-main img {
  width: 100%;
  height: auto;
}
.kofuku-bbs.p-main a:link {
  text-decoration: underline;
}
.kofuku-bbs.p-main a:visited {
  text-decoration: underline;
}
.kofuku-bbs.p-main a:active {
  text-decoration: underline;
}

.kofuku-bbs .p-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 0;
}
@media screen and (max-width: 960px) {
  .kofuku-bbs .p-container {
    width: 90%;
  }
}
.kofuku-bbs .p-container__head {
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .kofuku-bbs .p-container__head {
    margin-bottom: 100px;
  }
}

.kofuku-bbs .p-head__title {
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .kofuku-bbs .p-head__title {
    font-size: 20px;
  }
}
.kofuku-bbs .p-head__description {
  padding: 80px 0;
}
.kofuku-bbs .p-head__description-line {
  margin: 1em 0;
}
.kofuku-bbs .p-head__description-line:first-of-type {
  margin-top: 0;
}
.kofuku-bbs .p-head__description-line:last-of-type {
  margin-bottom: 0;
}
.kofuku-bbs .p-head__signature {
  margin-top: 1em;
  text-align: right;
}
.kofuku-bbs .p-head__image {
  max-width: 400px;
  margin: 0 auto;
}
.kofuku-bbs .p-head__caption {
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}
.kofuku-bbs .p-head__form {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 50px;
}
@media screen and (max-width: 960px) {
  .kofuku-bbs .p-head__form {
    width: 100%;
    max-width: 500px;
  }
}
.kofuku-bbs .p-head__remarks {
  text-align: right;
  margin-top: 50px;
}

.kofuku-bbs .p-content__post {
  margin-bottom: 50px;
}
.kofuku-bbs .p-content__no {
  margin-bottom: 1em;
}
.kofuku-bbs .p-content__author {
  margin-bottom: 1em;
}

.kofuku-bbs .p-form__input-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}
.kofuku-bbs .p-form__input-wrap--author {
  margin-bottom: 20px;
}
@media screen and (max-width: 960px) {
  .kofuku-bbs .p-form__input-wrap {
    display: block;
  }
}
.kofuku-bbs .p-form__label {
  display: block;
  width: 150px;
}
@media screen and (max-width: 960px) {
  .kofuku-bbs .p-form__label {
    margin-bottom: 10px;
  }
}
.kofuku-bbs .p-form__author-input {
  display: block;
  width: 200px;
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
}
.kofuku-bbs .p-form__author-input:focus {
  outline: 2px solid #000;
}
.kofuku-bbs .p-form__content-textarea {
  display: block;
  width: 500px;
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  resize: none;
}
.kofuku-bbs .p-form__content-textarea:focus {
  outline: 2px solid #000;
}
@media screen and (max-width: 960px) {
  .kofuku-bbs .p-form__content-textarea {
    width: 100%;
  }
}
.kofuku-bbs .p-form__submit-button {
  display: block;
  background-color: #c4c4c4;
  border: 1px solid #000;
  color: #000;
  padding: 5px 10px;
  margin: 0 auto;
  margin-top: 30px;
}
.kofuku-bbs .p-form__submit-button:focus {
  outline: 2px solid #000;
}

.kofuku-bbs .p-pagination {
  display: flex;
  gap: 10px;
}
.kofuku-bbs .p-pagination__link {
  text-decoration: underline;
}/*# sourceMappingURL=kofuku.css.map */