@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

@font-face {
  font-family: "gtwalsheim";
  src: url("../fonts/GT-Walsheim-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "gtwalsheim";
  src: url("../fonts/GT-Walsheim-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
/*=== breakpoint ===*/
/*=== color ===*/
/*=== font size ===*/
/*=== font weight ===*/
/*=== line_height ===*/
/*=== font ===*/
/*=== content width ===*/
/*=== header height ===*/
body {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans CJK JP Subset", sans-serif;
  background-color: #d6d6d6;
  color: #333;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  word-wrap: break-word;
}
@media screen and (max-width: 520px) {
  body {
    font-size: 16px;
  }
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: underline;
}

dt {
  font-weight: 400;
}

/* パスワード保護ページ */
.page_pass {
  margin: 1em auto 0;
  max-width: 400px;
}

.page_pass_input {
  border: #000 1px solid;
  background-color: #fff;
  padding: 5px;
}

.page_pass_submit {
  border: #000 1px solid;
  background-color: #fff;
  text-align: center;
  padding: 5px;
}

/* パスワード保護ページここまで */
.l-header {
  padding-top: 120px;
}
.l-header__logo-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 120px;
  background-color: #d6d6d6;
  border-bottom: #000 1px solid;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .l-header__logo-container {
    position: absolute;
  }
}
.l-header__logo {
  display: block;
  height: 100%;
}
.l-header__logo img {
  width: auto;
  height: 100%;
}

.l-main {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0 100px;
}

.l-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
.l-footer__form-container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
@media screen and (max-width: 520px) {
  .l-footer__form-container {
    width: 80%;
  }
}
.l-footer__close-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(calc(-100% - 10px));
}
.l-footer__close-button::before, .l-footer__close-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 141.4%;
  height: 2px;
  background: #000;
}
.l-footer__close-button::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.l-footer__close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.l-footer__form {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.l-footer__form .wpcf7-spinner {
  display: block;
}
.l-footer__form.invalid .wpcf7-response-output {
  display: none;
}
.l-footer__form.sent p {
  display: none;
}
@media screen and (max-width: 520px) {
  .l-footer__form {
    display: block;
  }
}
.l-footer__input {
  width: 480px;
  height: 40px;
  font-size: 24px;
  padding-left: 20px;
  border: 1px solid #d6d6d6;
  border-radius: 0.5em;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .l-footer__input {
    width: 300px;
  }
}
@media screen and (max-width: 520px) {
  .l-footer__input {
    width: 100%;
    font-size: 20px;
  }
}
.l-footer__submit {
  width: 120px;
  height: 40px;
  padding: 0 10px;
  background-color: #000;
  border-radius: 0.5em;
  color: #fff;
  font-size: 16px;
  font-family: "gtwalsheim";
  text-align: center;
}
@media screen and (max-width: 768px) {
  .l-footer__submit {
    width: 100px;
  }
}
@media screen and (max-width: 520px) {
  .l-footer__submit {
    width: 25%;
    margin-top: 15px;
  }
}

.l-project__section {
  margin: 60px 0;
}

@media screen and (max-width: 768px) {
  .c-content {
    font-size: 16px;
  }
}
.c-content *:has(+ h2),
.c-content *:has(+ h3) {
  margin-bottom: 0 !important;
}
.c-content h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 768px) {
  .c-content h1 {
    font-size: 24px;
  }
}
.c-content h1 + * {
  margin-top: 0 !important;
}
.c-content h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
@media screen and (max-width: 768px) {
  .c-content h2 {
    font-size: 20px;
  }
}
.c-content h2 + * {
  margin-top: 0 !important;
}
.c-content h3 {
  font-weight: 600;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.c-content h3 + * {
  margin-top: 0 !important;
}
.c-content p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.c-content p:first-child {
  margin-top: 0;
}
.c-content p:last-child {
  margin-bottom: 0;
}
.c-content p.has-small-font-size {
  font-size: 16px !important;
}
@media screen and (max-width: 768px) {
  .c-content p.has-small-font-size {
    font-size: 14px !important;
  }
}
.c-content img {
  width: auto;
  margin: 2em 0;
}
.c-content blockquote {
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
@media screen and (max-width: 520px) {
  .c-content blockquote {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }
}
.c-content blockquote p {
  margin-bottom: 0.5em;
}
.c-content blockquote cite {
  font-size: 16px;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .c-content blockquote cite {
    font-size: 14px;
  }
}

.c-floating-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #000;
  color: #d6d6d6;
  text-decoration: none;
}

.c-heading-black-background {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1;
  padding: 5px;
  background-color: #000;
  color: #d6d6d6;
  font-weight: 600;
  margin-bottom: 1em;
}

.c-rich-text > p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.c-rich-text > p:first-child {
  margin-top: 0;
}
.c-rich-text > p:last-child {
  margin-bottom: 0;
}

.c-white-area {
  padding: 30px 50px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid;
}
@media screen and (max-width: 768px) {
  .c-white-area {
    padding: 30px 20px;
  }
}
.c-white-area--with-close-button {
  position: relative;
}
.c-white-area__close-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}
.c-white-area__close-button::before, .c-white-area__close-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 141.4%;
  height: 2px;
  background: #000;
}
.c-white-area__close-button::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.c-white-area__close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.p-top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .p-top {
    display: block;
  }
}
.p-top__section {
  height: calc(100vh - 120px);
  overflow-y: scroll;
  /* IE, Edge 対応 */
  -ms-overflow-style: none;
  /* Firefox 対応 */
  scrollbar-width: none;
  /* Chrome, Safari 対応 */
}
.p-top__section::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .p-top__section {
    overflow-y: visible;
    height: auto;
  }
}
.p-top__left {
  width: 480px;
  border-right: #000 1px solid;
}
@media screen and (max-width: 768px) {
  .p-top__left {
    width: 100%;
    border-right: none;
  }
}
.p-top__right {
  width: calc(100vw - 480px);
}
@media screen and (max-width: 768px) {
  .p-top__right {
    width: 100%;
  }
}

.p-top-next-section {
  background-color: #fff;
  padding-bottom: 200px;
}
@media screen and (max-width: 768px) {
  .p-top-next-section {
    padding-bottom: 58px;
  }
}
.p-top-next-section__heading {
  height: 40px;
  line-height: 40px;
  border-bottom: #000 1px solid;
  font-family: "gtwalsheim";
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.p-top-next-section__main-visual {
  padding: 60px 2.5%;
}
@media screen and (max-width: 1280px) {
  .p-top-next-section__main-visual {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.p-top-next-section__title-container {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  padding: 10px 2.5%;
  text-align: center;
}
.p-top-next-section__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.p-top-next-section__subtitle {
  margin-top: 0.5em;
  font-size: 20px;
  font-family: "gtwalsheim";
}
.p-top-next-section__description-container {
  padding: 20px 2.5%;
}
.p-top-next-section__description-section {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-top-next-section__description-section:first-child {
  margin-top: 0;
}
.p-top-next-section__description-section:last-child {
  margin-bottom: 0;
}
.p-top-next-section__venue-name {
  margin-bottom: 1em;
}
.p-top-next-section__people-list {
  display: flex;
  gap: 20px;
}
.p-top-next-section__button {
  display: block;
  padding: 10px 0;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.p-top-next-section__button:hover {
  background-color: #f2e170;
}

.p-top-main-section {
  padding-bottom: 200px;
}
.p-top-main-section__copy-container {
  padding: 50px 0;
  overflow: hidden;
}
.p-top-main-section__copy {
  font-weight: 600;
  font-size: 20px;
}
.p-top-main-section__main-visual-container {
  padding-bottom: 1em;
}
.p-top-main-section__main-visual figcaption {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em 2em 0 auto;
}
.p-top-main-section__section-heading {
  padding: 20px 0;
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.p-top-main-section__section-content {
  padding: 20px;
  font-weight: 700;
}
.p-top-main-section__members-content {
  font-weight: 400;
}
.p-top-main-section__members-column-wrapper {
  margin-bottom: 150px;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 768px) {
  .p-top-main-section__members-column-wrapper {
    display: block;
  }
}
.p-top-main-section__members-column {
  width: 33.33%;
}
@media screen and (max-width: 768px) {
  .p-top-main-section__members-column {
    width: 100%;
    margin: 0 auto;
  }
  .p-top-main-section__members-column:first-of-type {
    margin-bottom: 80px;
  }
}
.p-top-main-section__member-container {
  position: relative;
  margin-bottom: 80px;
}
.p-top-main-section__member-container:last-of-type {
  margin-bottom: 0;
}
.p-top-main-section__member-image-container {
  cursor: pointer;
}
.p-top-main-section__member-image-container .p-top-main-section__member-image--on {
  display: none;
}
.p-top-main-section__member-image-container:hover .p-top-main-section__member-image--on {
  display: block;
}
.p-top-main-section__member-image-container:hover .p-top-main-section__member-image--off {
  display: none;
}
.p-top-main-section__member-heading {
  margin: 1em 0;
  font-size: 20px;
  text-align: center;
}
.p-top-main-section__member-description {
  position: absolute;
}
.p-top-main-section__members-image-credit {
  font-family: "gtwalsheim-l";
  font-size: 20px;
  text-align: center;
}

.p-works__section {
  margin-top: 60px;
  margin-bottom: 60px;
}
.p-works__section:first-child {
  margin-top: 0;
}
.p-works__section:last-child {
  margin-bottom: 0;
}

.p-template-nav {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border-bottom: #000 1px solid;
}
@media screen and (max-width: 768px) {
  .p-template-nav {
    border-top: #000 1px solid;
  }
}
.p-template-nav__item {
  width: 25%;
  height: 100%;
}
.p-template-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "gtwalsheim";
  text-decoration: none;
  cursor: pointer;
}
.p-template-nav__link:hover {
  background-color: #f2e170;
}

.p-template-works-main-visual__main-visual {
  width: 95%;
  max-width: 540px;
  margin: 0 auto 40px;
}
.p-template-works-main-visual__title-container {
  border-top: #000 1px solid;
  border-bottom: #000 1px solid;
  padding: 16px 0;
  text-align: center;
}
.p-template-works-main-visual__title {
  font-size: 32px;
  font-weight: 600;
}
@media screen and (max-width: 520px) {
  .p-template-works-main-visual__title {
    font-size: 24px;
  }
}
.p-template-works-main-visual__info-wrapper {
  padding: 1em 0;
  border-bottom: #000 1px solid;
}
.p-template-works-main-visual__info-container {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-template-works-main-visual__info-container:first-child {
  margin-top: 0;
}
.p-template-works-main-visual__info-container:last-child {
  margin-bottom: 0;
}
.p-template-works-main-visual__additional {
  margin-top: 2em;
}

.p-template-works-description__copy {
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 600;
}
.p-template-works-description__additional {
  margin-top: 2em;
}

.p-template-works-info__section {
  margin-top: 60px;
  margin-bottom: 60px;
}
.p-template-works-info__section:first-child {
  margin-top: 0;
}
.p-template-works-info__section:last-child {
  margin-bottom: 0;
}
.p-template-works-info__member-list-container {
  margin-bottom: 1em;
}
.p-template-works-info__member-list {
  margin-bottom: 1em;
}
.p-template-works-info__member-terms-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.p-template-works-info__member-terms-container:first-child {
  margin-top: 0;
}
.p-template-works-info__member-terms-container:last-child {
  margin-bottom: 0;
}
.p-template-works-info__member-terms {
  margin-right: 1em;
}
.p-template-works-info__member-description {
  flex-grow: 1;
}
.p-template-works-info__member-name {
  width: -moz-fit-content;
  width: fit-content;
}
.p-template-works-info__member-profile-container {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}
.p-template-works-info__organizer-list-container {
  font-size: 16px;
}
.p-template-works-info__organizer-terms-container {
  display: flex;
  justify-content: flex-start;
}
.p-template-works-info__organizer-terms {
  margin-right: 1em;
  white-space: nowrap;
}
.p-template-works-info__organizer-description {
  flex-grow: 1;
}
.p-template-works-info__organizer-others {
  margin-top: 1em;
}
.p-template-works-info__logo-pc img, .p-template-works-info__logo-sp img {
  display: inline-block;
  width: unset;
}
.p-template-works-info__logo-pc {
  margin-top: 1em;
}
@media screen and (max-width: 520px) {
  .p-template-works-info__logo-pc {
    display: none;
  }
}
.p-template-works-info__logo-sp {
  margin-top: 1em;
  display: none;
}
@media screen and (max-width: 520px) {
  .p-template-works-info__logo-sp {
    display: block;
  }
}
.p-template-works-info__venue-detail {
  margin-top: 1em;
  font-size: 16px;
}
.p-template-works-info__additional {
  margin-top: 2em;
}

.p-22kasou-description__section {
  margin-top: 2em;
  margin-bottom: 2em;
}
.p-22kasou-description__section:first-child {
  margin-top: 0;
}
.p-22kasou-description__section:last-child {
  margin-bottom: 0;
}
.p-22kasou-description__section-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.p-22kasou-description__essay-list {
  margin-top: 1em;
}
.p-22kasou-description__essay-item {
  list-style: disc;
  list-style-position: inside;
}
.p-22kasou-description__essay-title {
  font-weight: 600;
  text-decoration: underline;
  margin-right: 1em;
  cursor: pointer;
}

.p-22kasou-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
}
.p-22kasou-modal__overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.p-22kasou-modal__contents {
  box-sizing: border-box;
  position: absolute;
  top: 5vh;
  width: 90%;
  height: 90vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px 0;
  border: 1px solid #000;
  border-radius: 20px;
  overflow-y: scroll;
}
.p-22kasou-modal__contents-inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.p-22kasou-modal__heading {
  margin-bottom: 60px;
}
.p-22kasou-modal__text-container p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
}
.p-22kasou-modal__text-container p:first-child {
  margin-top: 0;
}
.p-22kasou-modal__text-container p:last-child {
  margin-bottom: 0;
}
.p-22kasou-modal__quote {
  margin: 2em 0 2em 2em;
}
.p-22kasou-modal__author-container {
  margin-top: 60px;
}
.p-22kasou-modal__author-description {
  font-size: 14px;
  margin-top: 1em;
}
.p-22kasou-modal__close-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: fixed;
  top: calc(5vh + 15px);
  right: calc(5% + 20px);
}
.p-22kasou-modal__close-button::before, .p-22kasou-modal__close-button::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 141.4%;
  height: 2px;
  background: #000;
}
.p-22kasou-modal__close-button::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.p-22kasou-modal__close-button::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.p-24kasou-description__content p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-24kasou-description__content p:first-child {
  margin-top: 0;
}
.p-24kasou-description__content p:last-child {
  margin-bottom: 0;
}
.p-24kasou-description__genre-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-24kasou-description__genre-item:first-child {
  margin-top: 0;
}
.p-24kasou-description__genre-item:last-child {
  margin-bottom: 0;
}
.p-24kasou-description__genre-heading {
  font-weight: 600;
}
.p-24kasou-description__article {
  margin-top: 2em;
}
.p-24kasou-description__article-heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.p-24kasou-description__article-item {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0.5em;
}
.p-24kasou-description__article-item:last-of-type {
  margin-bottom: 0;
}

.p-24kasou-kansou__subheading {
  font-size: 16px;
}
.p-24kasou-kansou__heading {
  font-weight: 600;
  margin-bottom: 1em;
}
.p-24kasou-kansou__main {
  font-size: 16px;
}
.p-24kasou-kansou__section {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-24kasou-kansou__section:first-child {
  margin-top: 0;
}
.p-24kasou-kansou__section:last-child {
  margin-bottom: 0;
}
.p-24kasou-kansou__section-heading::before {
  content: "◆";
}
.p-24kasou-kansou__text {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-24kasou-kansou__text:first-child {
  margin-top: 0;
}
.p-24kasou-kansou__text:last-child {
  margin-bottom: 0;
}
.p-24kasou-kansou__list-item {
  list-style-type: disc;
  list-style-position: inside;
}
.p-24kasou-kansou__list-item:last-of-type {
  list-style: none;
}

.p-24kasou-child {
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .p-24kasou-child {
    padding-bottom: 150px;
  }
}
.p-24kasou-child__section {
  margin-bottom: 100px;
}
.p-24kasou-child__section:last-of-type {
  margin-bottom: 0;
}

.p-24kasou-child-article__thumbnail {
  margin-bottom: 80px;
}
.p-24kasou-child-article__heading {
  font-size: 32px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .p-24kasou-child-article__heading {
    font-size: 24px;
  }
}
.p-24kasou-child-article__content {
  margin-bottom: 80px;
}
.p-24kasou-child-article__profile-container {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .p-24kasou-child-article__profile-container {
    flex-direction: column;
    gap: 1em;
  }
}
.p-24kasou-child-article__profile-image {
  flex-shrink: 0;
  width: 300px;
}
@media screen and (max-width: 520px) {
  .p-24kasou-child-article__profile-image {
    width: 100%;
  }
}
.p-24kasou-child-article__profile-name {
  margin-bottom: 1em;
}
.p-24kasou-child-article__profile-text p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-24kasou-child-article__profile-text p:first-child {
  margin-top: 0;
}
.p-24kasou-child-article__profile-text p:last-child {
  margin-bottom: 0;
}

.p-24kasou-child-info__heading {
  font-size: 32px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .p-24kasou-child-info__heading {
    font-size: 24px;
  }
}
.p-24kasou-child-info__image {
  margin-bottom: 10px;
}
.p-24kasou-child-info__subtitle {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .p-24kasou-child-info__subtitle {
    font-size: 14px;
  }
}
.p-24kasou-child-info__title {
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .p-24kasou-child-info__title {
    font-size: 20px;
  }
}
.p-24kasou-child-info__content {
  margin-top: 30px;
}
.p-24kasou-child-info__section {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-24kasou-child-info__section:first-child {
  margin-top: 0;
}
.p-24kasou-child-info__section:last-child {
  margin-bottom: 0;
}
.p-24kasou-child-info__section-heading {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  line-height: 1;
  background-color: #000;
  color: #d6d6d6;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.p-24kasou-child-info__text {
  margin-top: 1em;
  margin-bottom: 1em;
}
.p-24kasou-child-info__text:first-child {
  margin-top: 0;
}
.p-24kasou-child-info__text:last-child {
  margin-bottom: 0;
}
.p-24kasou-child-info__list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1em;
}

.js-form-container {
  opacity: 0;
}

.js-member-open-container {
  position: relative;
}

.js-member-open-target {
  visibility: hidden;
  opacity: 0;
}

.js-open-profile-container.has-credit .js-open-profile-button {
  text-decoration: underline;
  cursor: pointer;
}

.js-open-profile-target {
  visibility: hidden;
  opacity: 0;
}

.js-modal {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
.js-modal.is-open {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */