@use "../../../foundation/variable" as var;
@use "../../../foundation/mixin" as mixin;

.kofuku-bbs{
    .p-pagination{
        display: flex;
        gap: 10px;
        &__link{
            text-decoration: underline;
        }
    }
}