@use "foundation/global" as *;
.p-nav {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    border-bottom: $black 1px solid;
    @include mq(md) {
        border-top: $black 1px solid;
    }
    &__item {
        flex: 1;
        height: 100%;
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: $font_size_xl;
        font-family: "gtwalsheim";
        text-decoration: none;
        cursor: pointer;
        &:hover {
            background-color: $yellow;
        }
    }
}