@use "foundation/global" as *;
.p-password-form {
    margin: 0 auto;
    &__text {
        margin-bottom: 1em;
    }
    &__form {
        text-align: center;
    }
    &__input {
        border: #000000 1px solid;
        background-color: #ffffff;
        padding: 0.25rem;
    }
    &__submit {
        border: #000000 1px solid;
        background-color: #ffffff;
        text-align: center;
        padding: 0.25rem;
    }
}