@use "foundation/global" as *;
.p-works-description {
    &__copy {
        margin-bottom: 3rem;
        font-size: $font_size_xl;
        font-weight: 500;
        @include mq(sm) {
            font-size: $font_size_lg;
        }
    }
    &__additional {
        margin-top: 2em;
    }
}