@use "foundation/global" as *;
.p-works {
    &__section {
        margin: 3rem 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__info-section {
        margin: 3rem 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__additional-content {
        margin-top: 2em;
    }
}