@use "foundation/global" as *;
.p-works-archive {
    &__item {
        display: flex;
        gap: 2rem;
        margin: 6.5rem 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        @include mq(md) {
            display: block;
            margin: 0 4rem;
        }
    }
    &__item-left {
        width: 33.33%;
        flex-shrink: 0;
        @include mq(md) {
            width: 100%;
            margin-bottom: 1em;
        }
    }
    &__item-heading-container {
        margin-bottom: 1.5em;
        font-size: $font_size_xl;
        @include mq(md) {
            font-size: $font_size_lg;
        }
    }
    &__item-heading {
        font-weight: 700;
    }
    &__item-subtitle {
        font-size: $font_size_sm;
        @include mq(md) {
            font-size: $font_size_xs;
        }
    }
    &__info-container {
        margin: 1em 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

}